<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Db Reusita studentilor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/form.css" />
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body  style="min-height:100%; background-image: url( /img/menu3.jpg);  background-attachment:scroll; background-position:center; background-repeat: no-repeat; background-size:cover; position: relative; ">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark   " style="background-color:rgb(255, 255, 255,0.1)">
          

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ml-5 ">
                        <li class="nav-item">
                            <a class="nav-link font-weight-bold text-white" style="font-size:20px" asp-area="" asp-controller="Log" asp-action="Index">
                                Meniu 
                            </a>
                        </li>

                    </ul>
                    <ul class="navbar-nav ml-auto ">
                        <li class="nav-item">
                            <a class="nav-link text-dark " asp-area="" asp-controller="Student" asp-action="LogOut">
                             <img width="30" style="filter:invert(1)" height="25" src="~/links/logout.png" />  
                            </a>
                        </li>

                    </ul>
                </div>
            
        </nav>
    </header>
    <div class="container">
        <div style="min-height:50px"></div>
        <main role="main" class="">
            @RenderBody()
        </main>
        <div style="min-height:100px"></div>
    </div>

    <footer class="border-top footer  text-muted position-relative" style="background-color: rgb(255, 255, 255,0.2); ">
        <div class="container text-white font-weight-bold" >
         
          &copy; 2021 - EFDataApp -
            </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
