@model EFDataApp.Models.Curs
@{
    ViewBag.Title = Model.Name;
}


<table class="table">
   
    <p> Cursul</p>
    
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.Profesor</td>

      
    </tr>
   
</table>

