@model IEnumerable<EFDataApp.JoinModels.NotaCurs>
@{
    ViewBag.Title = "Student";
}


<head>
    <style>
        a {
            color: darkred;
            text-decoration-line: none;
            opacity: 1;
        }
    </style>
</head>
<div style="        border: 10px solid black;
        border-radius: inherit 10px;
        background-color: rgb(40,40,40);text-align:center;opacity:0.9;
">

    <h1 style="color:antiquewhite">Reusita mea la cursuri</h1>
    <table class="table table-striped table-dark">
        <thead>
            <tr>

                
                <th scope="col">Curs</th>
                <th scope="col">Nota</th>

            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
              
                <td>@item.Curs</td>
                <td>@item.Nota</td>
            </tr>
        }

    </table>
</div>
<h2 style="color:white">Media mea : @ViewBag.Media</h2>



